<app-header [name]="nom" [title]="titre"></app-header>
<ion-content>
  <form (ngSubmit)="getTransactionInfos(f)" #f="ngForm">
    <ion-item lines="inset">
      <ion-label position="floating">Code</ion-label>
      <ion-input
        type="text"
        required
        name="code" ngModel
      ></ion-input>
    </ion-item>
  </form>
  <ion-card class="card_toggler">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col
            class="center-any-object"
            style="cursor: pointer"
            (click)="showReceiver()"
            [ngClass]="{'is_actif':isShowReceiver}"
            >Bénéficiaire</ion-col
          >
          <ion-col
            class="center-any-object"
            style="cursor: pointer"
            [ngClass]="{'is_actif':!isShowReceiver}"
            >Emetteur</ion-col
          >
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!-- cette section doit apparaitre si seulement le code tapé en haut est correct -->
  <div class="ion-margin-horizontal" *ngIf="showTransactionDetail">
    <div *ngIf="isShowReceiver; else showEmetterSection">
      <form #cniForm="ngForm">
        <ion-item lines="inset">
          <ion-label position="floating">N. CNI</ion-label>
          <ion-input type="text" required  [(ngModel)]="numeroCni" name="numeroCni" pattern="[0-9]{13}"></ion-input>
        </ion-item>
        <ion-text class="errorMsg ion-margin-start" *ngIf="cniForm.controls.numeroCni && cniForm.controls.numeroCni.touched && cniForm.controls.numeroCni.errors">*N. CNI invalide</ion-text>
      </form>
      <div class="ion-margin-horizontal">
        <div class="ion-margin-top">
          <ion-label>
            <p>NOM & PRENOM</p>
          </ion-label>
          <div>{{receiver.nom}} {{receiver.prenom}}</div>
        </div>
        <div class="ion-margin-top">
          <ion-label>
            <p>MONTANT A RECEVOIR</p>
          </ion-label>
          <div>{{transaction.montant}}</div>
        </div>
        <div class="ion-margin-vertical">
          <ion-label>
            <p>TÉLÉPHONE</p>
          </ion-label>
          <div>{{receiver.telephone}}</div>
        </div>
      </div>
      <div class="ion-margin-horizontal">
        <ion-button
          mode="ios"
          color="secondary"
          expand="block" (click)="showEmetter()" [disabled]="cniForm.invalid"
          >Suivant</ion-button
        >
      </div>
    </div>

    <ng-template #showEmetterSection>
      <div class="ion-margin-horizontal">
        <div class="ion-margin-top">
          <ion-label>
            <p>N. CNI</p>
          </ion-label>
          <div>{{emetter.numeroCni}}</div>
        </div>
        <div class="ion-margin-top">
          <ion-label>
            <p>NOM & PRENOM</p>
          </ion-label>
          <div>{{emetter.nom}} {{emetter.prenom}}</div>
        </div>
        <div class="ion-margin-vertical">
          <ion-label>
            <p>MONTANT ENVOYÉ</p>
          </ion-label>
          <div>{{transaction.montant}}</div>
        </div>
        <div class="ion-margin-vertical">
          <ion-label>
            <p>TÉLÉPHONE</p>
          </ion-label>
          <div>{{emetter.telephone}}</div>
        </div>
        <div class="ion-margin-vertical">
          <ion-label>
            <p>DATE D'ENVOIE</p>
          </ion-label>
          <div>{{transaction.date_depot | date:'d/M/yy'}}</div>
        </div>
      </div>
      <div class="ion-margin-horizontal">
        <ion-button
          (click)="onSubmit()"
          mode="ios"
          type="submit"
          color="secondary"
          expand="block"
          >Retirer</ion-button
        >
      </div>
    </ng-template>
  </div>
</ion-content>
