<ion-header>
  <ion-toolbar>
    <ion-title class="center-any-object">Transfert réussi</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card class="ion-no-margin">
  <ion-card-content>
    <div class="ion-margin-bottom">
      <p>INFOS</p>
      <div class="popoverStyle">Vous avez envoye {{montant}} à {{nom}} le {{date | date: 'd/M/yy'}}</div>
    </div>
    <div class="ion-margin-top">
      <p>CODE DE TRANSACTION</p>
      <div class="popoverStyle">{{code}}</div>
    </div>
  </ion-card-content>
</ion-card>
</ion-content>