<app-header [name]="nom" [title]="titre"></app-header>
<ion-content> 
  <form class="ion-margin">
    <!-- <div class="ion-margin-start">
      <ion-label>
      <p>Type de transaction</p>
    </ion-label>
      <div>Dépôt</div>
    </div> -->
    <ion-item lines="full">
      <ion-label position="floating"><p>montant</p></ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <div class="ion-float-right">
    <ion-button (click)="onSubmit()" mode="ios" shape="round" type="submit" color="secondary" size="small" class="login_btn">Se connecter</ion-button>
    </div>
  </form>
</ion-content>
