ion-tab-button{
    font-size: 10px;
    --background-focused: #F24924;
    --color-selected: #F24924;
    --padding-end: 0px;
    --padding-start: 10px;
    --padding-bottom: 0px;
    --margin-left:0px;
    --margin-right:0px;
    max-width:100px;
}

ion-tab-bar{
    --border: #F2F2F2;
    --opacity: 0px;
    --background: white;
}
    
