a{
    text-decoration: none;
}
.img_logo{
    width: 100px;
    height: 100px;
    margin: 50px auto;
}
.login_line{
    margin: auto;
    width: 60px;
    border-top: 3px solid #51BFD0;
}
.login_btn{
    margin-top: 50px;
}