<ion-header mode="ios">
  <ion-toolbar class="myToolbar">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
    <div>
      <ion-menu-button
        color="primary"
        slot="start"
        menu="main-menu"
      ></ion-menu-button>
    </div>
  </ion-col>
    <ion-col class="center-any-object" size="8">
      <ion-img
        src="../assets/images/logo.jpg"
        class="image_logo"
      ></ion-img>
    </ion-col>
  </ion-row>
  <ion-row style="margin-bottom: 0px;">
    <ion-col>
      <a *ngIf="is_shownMesTransaction" (click)="showMesTransactions()" color="primary">
        <ion-icon [ngClass]="{'active': mesTransactionSection}" name="repeat"></ion-icon>
        <ion-text  [ngClass]="{'active': mesTransactionSection}">Mes transactions</ion-text>
      </a>
    </ion-col>
    <ion-col>
      <!-- <div style="width: 120%;"> -->
      <a *ngIf="is_shownAllTransaction" (click)="showAllTransactions()" >
        <ion-icon [ngClass]="{'active': allTransactionSection}" name="analytics"></ion-icon>
        <ion-text [ngClass]="{'active': allTransactionSection}" >Toutes les transactions</ion-text>
      </a>
    <!-- </div> -->
    </ion-col>
  </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="allTransactionSection">
    <app-alltransactions [listItems]="listItems"></app-alltransactions>
  </div>
  <div *ngIf="mesTransactionSection">
    <app-mestransactions [listItemsOfUser]="listItemsOfUser"></app-mestransactions>
  </div>
</ion-content>
